<section class="navigation">
    <!--x block header x-->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="./index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Scorpion Patrol's Program Adventure</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('list_programs')}}" class="nav-link">Programs</a></li>
        </ul>
        </header>
    </div>
    <!--x endblock header x-->
</section>

<section class="page">
    <!--x block content x-->
    <div class="container">
        <!--x block content_intro x-->
        <div class="row">
            <div class="col-3">
                <img src="{{url_for('static', filename='img/scorpion.jpg')}}">
            </div>
            <div class="col-9">
                <h3>Welcome to the Scorpion Patrol</h3>
                <p>This is our Program Planning site where we share our program information and add new program ideas.</p>
                <p>We also share some info about our Patrol and what we like. You can read through some interesting information about our Patrol and our interests here.</p>
            </div>
        </div>
        <!--x endblock content_intro x-->
        <!--x block content_lists x-->
        <div class="row">
            <div class="col-4">
                <h3 class="">Our Patrol Members</h3>
                <ul class="">
                    <li>Jessie</li>
                    <li>Sally</li>
                    <li>Michael</li>
                    <li>Gurteg</li>
                    <li>Akmal</li>
                    <li>Jeff</li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="">Our Top Activities</h3>
                <ol>
                    <li>ScoutHack WebDev 1.0</li>
                    <li>Rock Climbing</li>
                    <li>Cycling</li>
                    <li>Sailing</li>
                    <li>RadioActiv8 and JOTA</li>
                </ol>
            </div>
            <div class="col-4">
                <h3 class="">Our Favourite Campsite</h3>
                <p>We really like to camp at <a href="https://mafekingroverpark.com/" target="_blank">Mafeking Rover Park</a> because there are heaps of activities and plenty of space to camp, it's like having the whole Park to ourselves!</p>
            </div>
        </div>
        <!--x endblock content_lists x-->
        <!--x block content_events x-->
        <div class="row">
            <div class="col-9">
                <h3 class="text-danger">Upcoming events</h3>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Event</th>
                            <th scope="col">Dates</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ScoutHike</td>
                            <td class="text-center">13-15 May 2022</td>
                            <td class="text-center">Tallarook State Forest</td>
                        </tr>
                        <tr>
                            <td>Melbourne Gangshow</td>
                            <td class="text-center">17-25 June 2022</td>
                            <td class="text-center">The Benson Centre, Melbourne</td>
                        </tr>
                        <tr>
                            <td>Star Trek: Survival</td>
                            <td class="text-center">1-3 July 2022</td>
                            <td class="text-center">Mafeking Rover Park</td>
                        </tr>
                        <tr>
                            <td>JOTA 2022</td>
                            <td class="text-center">14-16 October 2022</td>
                            <td class="text-center">On the Air!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <h3 class="">New ideas</h3>
                <p>If you'd like, you can suggest activities for our Patrol to do. We're always looking for fun and exciting activities to do!</p>
                <a class="btn btn-outline-dark" href="{{ url_for('new_program') }}" target="_blank">Suggest an Activity</a>
            </div>
        </div>
        <!--x endblock content_events x-->
    </div>
    <!--x endblock content x-->
</section>

<section class="footer">
    <!--x block footer x-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 Scouts Victoria</p>

        <a href="./index.html"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('list_programs')}}" class="nav-link px-2 text-muted">Programs</a></li>
        </ul>
        </footer>
    </div>
    <!--x endblock footer x-->
</section>
