{% extends 'base.html' %}

{% block header_title %}
    Scorpion Patrol's Program Adventure
{% endblock %}

{% block content_intro %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Welcome to the Scorpion Patrol's Program Planning Post site</h3>
            </div class="col-12">
            <div class="col-12">
                <p>This is where we share our program information and add new program ideas.</p>
                <p>We also share some info about our Patrol and what we like. You can read through some interesting information about our Patrol and our interests here.</p>
            </div>
        </div>
    </div>
{% endblock %}